<!--The content below is only a placeholder and can be replaced.-->
<div id="background"></div>
<div class="content">
  <h1>tim<span>e</span></h1>
  <img (click)="banana()" id="epsi" alt="EPSI Logo" src="../assets/images/epsiLogo.jpg" />
  <div id="connect"> 
    <div (click)="openF()" id="top" class="round">&Eacute;tudiants</div>
    <div id="row">
      <div class="round" (click)="openF()">Intervenants</div>
      <div class="round" (click)="openF()">P&eacute;dagogie</div>
    </div>
    <div (click)="close()" id="close">
      <img alt="Exit cross" id="exit" src="../assets/images/exit.png" />
    </div>
    <form id="loginP">
      <span>Login</span><br />
      <input type="text" class="inputF"><br /><br />
      <span>Password</span><br />
      <input type="password" class="inputF"><br />
      <div>
        <input type="submit" value="Connexion">
        <input type="button" value="Retour" (click)="closeF()">
      </div>
    </form>
  </div>
</div>
<button id="help">?</button>